<h1>NBA DraftDay</h1>

<div>
    <% for( let i = 0; i <= nbaPlayers.length; i++ ) { %>
        <div>
            <%=nbaPlayers[i]%> 
        </div>
    <% } %>
    
</div>

<div>
    <% for(const players of nbaPlayers) { %> 
        Name: <%= players.Name %> 
        <br>
        Image: <%= players.Image %> 

        <% } %> 
</div>

