<link rel="stylesheet" type="text/css" href="../public/styles.css" />

<h1>NBA DraftDay</h1>

<img src="https://wallpaperaccess.com/full/1112641.jpg" alt="NBA Team Logos">

<div>
    <% for( let i = 0; i <= nbaPlayers.length; i++ ) { %>
        <div>
            <%=nbaPlayers[i]%> 
        </div>
    <% } %>
    
</div>

<div>
    <% for(const players of nbaPlayers) { %> 
        <div class="img">
        Image: <img src="<%= players.Image %> " alt="">
        </div>
        <div>
        Name: <%= players.Name %>
        
        <% } %> 
        </div>
</div>

