<h1>NBA DraftDay</h1>

<div>
    <li> 
        <%= nbaPlayers %> 
    </li>
    <li>
        <%= nbaPlayers[1].Image %> 
    </li>
    <li>
        <%= nbaPlayers[1].Name %> 
    </li>
</div>
      
    