<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Prospect</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h1>New Prospect</h1>
<form action="/" method="POST"class="newform">
<div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form">

    <label for="position">Position</label>
    <input type="text" id="position" name="position" class="form">

    <label for="school">League/School</label>
    <input type="text" id="school" name="school" class="form">

    <label for="height">Height</label>
        <input type="text" id="height" name="height" class="form">

    <label for="weight">Weight</label>
    <input type="text" id="weight" name="weight" class="form">
    <br>
    <label for="image">Image Link</label>
    <input type="text" id="image" name="image" class="form">
    
    <label for="highlight">Highlight Link</label>
    <input type="text" id="highlight" name="highlight" class="form">
</div>
<input type="submit">
<a href="/" class="cancel">Cancel</a>
</form>
</body>
</html>
