body {
    background-image: url('https://images.unsplash.com/photo-1559692048-79a3f837883d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
    color: white;
    background-position:inherit;
    background-size: auto;
}
h1 {
    text-align: center;
    color: blue;
}

.logo {
    height: auto;
   width: 100vw;

   
}

.board {
display: flex;
flex-direction: column;
border: 3px solid red;

}
.prospect {
    border-top: solid red;
}
.img {
    width: 10%;
    height: 25%;
}
.stats {
    text-align: center;
}
.video {
    width: 560px;
    height: 315px;
}