body {
    background-image: url('../assets/basketballcourt.jpg');
    color: white;
    background-position: center;
    background-size:auto;
    font-family: 'Oswald', sans-serif;
}
h1 {
    text-align: center;
    color: black;
    font-size: 75px;
}
p {
    font-size: large;
}
.logo {
    height: auto;
   width: 100vw;
}

.board {
display: flex;
flex-direction: column;
border: 3px solid black;
}
#notes {
text-align: center;
}
.prospect {
    border-top: solid black;
    
}
.img {
    width: 125px;
    height: 160px;
}
.video {
    width: 560px;
    height: 315px;
}
.alignment {
    display: flex;
flex-direction: row;   
justify-content: space-between;
align-content: center;}
.info {
text-align: center;
}
.stats {
text-align: center;
}
#update {
background-color: blue;
color: white;
width: 15em;
height: 7em;
}
#delete {
background-color: red;
color: white;
width: 15em;
height: 7em;
}
.add {
    text-align: center;
    align-content: center;
    width: 15em;
    height: 7em;
    background-color: seagreen;
    color: white;
}
.newform {
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: x-large;
}